.box1{
    width: 1350px;
    height: 200px;
    background-color: chocolate;
}
.box2{
    position: absolute;
    display: flex;
    top: 33%;
}
.isi1{
    width: 250px;
    height: 200px;
    background-color:blue;
}
.isi2{
    position: absolute;
    width: 1075px;
    height: 200px;
    background-color:purple;
    left: 110%;
}
.box3{
    position: absolute;
    display: flex;
    top: 66%;
}
.isi3{
    width: 250px;
    height: 200px;
    background-color:yellow;
}
.isi4{
    position: absolute;
    width: 1075px;
    height: 200px;
    background-color:black;
    left: 110%;
}